################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/set-wallpaper/v14
/bin/Debug
/obj/Debug
/set-wallpaper.csproj.user
